.card {
    background-color: black;
    width: 900px;
    border: 5px rgb(133, 42, 57) solid;
}
.card img {
background-color: cornsilk;
width: 900px;
height: 400px;
filter: grayscale(1);
}
.card p {
    background-color: wheat;
    color: red;
    font-size: larger;
}
.card button {
background-color: brown;
color: aliceblue;
width: 900px;
}